@import "./tailwind.css";

/* 나머지 스타일들 */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 리스트 기본 스타일 제거 */
ul,
ol {
  list-style: none;
}

/* 링크 기본 스타일 제거 */
a {
  text-decoration: none;
  color: inherit;
}

/* 버튼 기본 스타일 제거 및 포인터 설정 */
button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

/* 이미지 등 미디어 요소의 기본 스타일 처리 */
img {
  max-width: 100%;
  display: block;
}
